:root {
  --black: #141414;
  --green: #576f35;
  --purple: #7a3145;
  --purple-hover: #622133;
  --beige: #fbfbfb;
  --railway: "Inter Tight", sans-serif;
}
html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "Inter Tight", sans-serif;
  background-color: var(--beige);
  color: var(--beige);
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  padding: 0px;
  margin: 0px;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

button {
  cursor: pointer;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
address {
  font-style: normal;
}
a {
  text-decoration: none;
  color: inherit;
}
/* JAVASCRIPT */

/*******************************|Mobile Design|******************************/

@media (min-width:378px) and (max-width:767px){

  /********Emrah Cagigan**************/


  /********Selçuk Bayram Aydın********/

  .our-page {
    font-family: Inter Tight;
    gap: 50px;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;



}

.paragraf {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    color: #ffffff;
}

.paragraf2 {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    color: #000000;
    opacity: 60%;
}

.left-section {
    background-color: #722437;
    
    
}


.left-section-img{

    width: 335px;
    height: 450px;
    margin: 40px auto;

}

.right-section {
    font-family: Inter Tight;
    background-color: #576F35;
    color: #f4f4f4;
    width: 100%;
    padding: 80px 20px;

}

.right-section h2 {
    font-family: Inter Tight;
    font-size: 32px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: -0.2%;
    text-align: left;
    font-family: Inter Tight;
    padding-bottom: 50px;


}

.highlight {
    opacity: 30%;
    font-size: 32px;
}

.steps {
    margin-top: 50px;

}

.step {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 15px;
    background-color: #ffffff;
    padding: 12px 25px 12px 24px;
    gap: 10px;
    border-radius: 15px;

}

.step-number {
    border: 5px solid #ffffff4d;
    background-color: #722437;
    color: #ffffff;
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 42px;
    padding: 21px;



}


.step p {
    margin: 0;
}

.bold {
    font-weight: bold;
    opacity: 100%;
}

.promo {
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
}

.promo h1 {
    font-size: 28px;
    line-height: 1.2;
    color: #000000;
}

.promo-highlight {
    background-color: #576F35;
    color: #ffffff;
    padding: 5px;
    border-radius: 5px;
}

.discount {
    
    height: 335px;
    padding: 80px 23px;
    font-size: 48px;
    background-color: #ffffff;
    

}


  /********Musa Eren Tanrıöver********/


  /***********Tunahan Erdem**********/



  /**********Hasip Tektaş************/



  /**********Şebnem Shabb007*********/
    

}

/*******************************|Tablet Design|******************************/
@media (min-width:768px) and (max-width:1279px){

  /********Emrah Cagigan**************/


  /********Selçuk Bayram Aydın********/

  .our-page {
    font-family: Inter Tight;
    gap: 50px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;




}

.paragraf {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    color: #ffffff;
}

.paragraf2 {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    color: #000000;
    opacity: 60%;
}

.left-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #722437;
    
}

.left-section-img {
    
    width: 640px;
    height: 640px;
    border-radius: 30px;
    margin: 64px auto;

}


.right-section {
    font-family: Inter Tight;
    background-color: #576F35;
    color: #f4f4f4;
    width: 100%;
    
    padding: 100px 159px;

}

.right-section h2 {
    font-family: Inter Tight;
    font-size: 32px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: -0.2%;
    text-align: left;
    font-family: Inter Tight;
    padding-bottom: 50px;


}

.highlight {
    opacity: 30%;
    font-size: 32px;
}

.steps {
    margin-top: 50px;

}

.step {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 15px;
    background-color: #ffffff;
    padding: 12px 25px 12px 24px;
    gap: 10px;
    border-radius: 15px;

}

.step-number {
    border: 5px solid #ffffff4d;
    background-color: #722437;
    color: #ffffff;
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 42px;
    padding: 21px;



}


.step p {
    margin: 0;
}

.bold {
    font-weight: bold;
    opacity: 100%;
}

.promo {
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
}

.promo h1 {
    font-size: 28px;
    line-height: 1.2;
    color: #000000;
}

.promo-highlight {
    background-color: #576F35;
    color: #ffffff;
    padding: 5px;
    border-radius: 5px;
}

.discount {
    height: 440px;
    padding: 100px 16px;
    font-size: 48px;
    background-color: #ffffff;
    letter-spacing: -1.5%;

}



  /********Musa Eren Tanrıöver********/



  /***********Tunahan Erdem**********/



  /**********Hasip Tektaş************/



  /**********Şebnem Shabb007*********/

}

/*******************************|Desktop Design|******************************/
@media (min-width:1280px) {

  /********Emrah Cagigan**************/


  /********Selçuk Bayram Aydın********/

  .our-page {
    font-family: Inter Tight;
    gap: 50px;
}

.container {
    display: flex;
    justify-content: space-between;




}

.paragraf {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    color: #ffffff;
}

.paragraf2 {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    color: #000000;
    opacity: 60%;
}

.left-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #722437;
    width: 50%;
}

.left-section img {
    width: 430px;
    height: 559px;
    border-radius: 30px;

}


.right-section {
    font-family: Inter Tight;
    background-color: #576F35;
    color: #f4f4f4;
    width: 50%;
    height: 759px;
    padding: 50px;

}

.right-section h2 {
    font-family: Inter Tight;
    font-size: 32px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: -0.2%;
    text-align: left;
    font-family: Inter Tight;
    padding-bottom: 50px;


}

.highlight {
    opacity: 30%;
    font-size: 32px;
}

.steps {
    margin-top: 50px;

}

.step {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 15px;
    background-color: #ffffff;
    padding: 12px 25px 12px 24px;
    gap: 10px;
    border-radius: 15px;

}

.step-number {
    border: 5px solid #ffffff4d;
    background-color: #722437;
    color: #ffffff;
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 42px;
    padding: 21px;



}


.step p {
    margin: 0;
}

.bold {
    font-weight: bold;
    opacity: 100%;
}

.promo {
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
}

.promo h1 {
    font-size: 28px;
    line-height: 1.2;
    color: #000000;
}

.promo-highlight {
    background-color: #576F35;
    color: #ffffff;
    padding: 5px;
    border-radius: 5px;
}

.discount {
    height: 440px;
    padding: 100px;
    font-size: 76px;
    background-color: #ffffff;
    letter-spacing: -1.5%;

}


  /********Musa Eren Tanrıöver********/


  /***********Tunahan Erdem**********/


  /**********Hasip Tektaş************/


  /**********Şebnem Shabb007*********/

}