:root {
  --black: #141414;
  --green: #576f35;
  --purple: #7a3145;
  --purple-hover: #622133;
  --beige: #fbfbfb;
  --railway: "Inter Tight", sans-serif;
}
html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "Inter Tight", sans-serif;
  background-color: var(--beige);
  color: var(--beige);
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  padding: 0px;
  margin: 0px;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button {
  cursor: pointer;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
address {
  font-style: normal;
}
a {
  text-decoration: none;
  color: inherit;
}
/* JAVASCRIPT */

/*******************************|Mobile Design|******************************/

@media (min-width: 378px) and (max-width: 767px) {
  /********Emrah Cagigan**************/

  /* HEADER */

  .header {
    background-color: #576f35;
  }
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  .header-logo {
    display: flex;
    align-items: inherit;
  }
  .header-main-page {
    display: flex;
    align-items: center;
  }
  .header-navbar {
    display: none;
  }

  /* HERO */

  .hero {
    background-color: #576f35;
  }
  .hero-content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .hero-content-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 28px 20px 40px;
    min-width: 335px;
  }
  .hero-title {
    font-weight: 600;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
  }
  .hero-paragraph {
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
  }
  .hero-bgimage {
    display: flex;
    justify-content: center;
    height: 378px;
    width: 100%;
    object-fit: cover;
  }

  /* MENU MODAL */

  .header-menu-background {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    inset: 0;
    background-color: var(--purple);
  }
  .header-menu-modal {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 40px;
  }
  .header-menu-modal-close-button {
    display: flex;
    justify-content: right;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .header-menu-modal-close {
    display: block;
    background-color: transparent;
    border: none;
  }
  .header-menu-modal-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .header-menu-modal-pages {
    display: flex;
    flex-direction: column;
    padding-top: 188px;
    gap: 8px;
  }
  .header-menu-modal-list {
    list-style-type: none;
  }
  .header-menu-modal-button {
    display: block;
    min-width: 115px;
    min-height: 42px;
    border: 1px solid rgba(251, 251, 251, 0.4);
    background-color: transparent;
    color: var(--beige);
    border-radius: 12px;
    transition: 0.25s;
  }
  .header-menu-modal-button:hover,
  .header-menu-modal-button:focus {
    background-color: var(--beige);
    color: var(--purple-hover);
  }
  .header-menu-shop-button {
    display: block;
    min-width: 155px;
    min-height: 50px;
    border: none;
    font-weight: 600;
    background-color: var(--beige);
    color: var(--purple);
    border-radius: 30px;
    transition: 0.25s;
  }
  .header-menu-shop-button:hover,
  .header-menu-shop-button:focus {
    color: rgba(122, 49, 69, 0.7);
  }
  .is-open {
    display: block;
  }

  /********Selçuk Bayram Aydın********/

  /********Musa Eren Tanrıöver********/

  /***********Tunahan Erdem**********/

  /**********Hasip Tektaş************/

  /**********Şebnem Shabb007*********/

  .container {
    max-width: 375px;
  }

  .container {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  footer {
    background-color: #7a3145;
    min-width: 375px;
    height: auto;
    padding: 40px 0px 40px;
  }
  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .logo-container {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }
  .logo-svg {
    fill: #ffffff;
  }
  .logo-tab-des {
    display: none;
  }
  .footer-p {
    font-family: "Inter Tight";
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(251, 251, 251, 1);
  }
  .footer-list-container {
    margin-top: 40px;
  }
  .footer-menu {
    color: rgba(251, 251, 251, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-menu:hover,
  .footer-menu:focus {
    color: #576f57;
  }
  .link-list {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }
  .link-items {
    font-family: "Inter Tight";
    font-size: 28px;
    font-weight: 600;
    letter-spacing: -0.015em;
    text-align: left;
  }
  .nav-list {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 14px;
  }
  .tel-add {
    max-width: 215px;
  }
  .tel-addul {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }
  .tel-addli {
    font-family: "Inter Tight";
    font-size: 14px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.015em;
    text-align: left;
  }
  .tel-address-link {
    max-width: 179px;
    color: rgba(251, 251, 251, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .tel-address-link:hover,
  .tel-address-link:focus {
    color: #576f57;
  }
  .priv-pol-container {
    margin-top: 80px;
  }
  .priv-pol-list {
    display: flex;
    justify-content: space-between;
  }
  .priv-pol {
    font-family: "Inter Tight";
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.015em;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
  .down-link {
    color: rgba(251, 251, 251, 0.5);
    font-size: 12px;
    font-weight: 500;
    line-height: 1.11; /* 111.111% */
    letter-spacing: -0.015em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .priv-pol-link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: rgba(251, 251, 251, 0.5);
  }
  .priv-pol-link:hover,
  .priv-pol-linkfocus {
    color: #576f57;
  }
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .set:hover,
  .set:focus {
    color: #fbfbfb;
  }

  /**********Şebnem Kosker***********/
}

/*******************************|Tablet Design|******************************/
@media (min-width: 768px) and (max-width: 1279px) {
  /********Emrah Cagigan**************/

  /* HEADER */

  .header {
    background-color: #576f35;
  }
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
  }
  .header-logo {
    display: flex;
    align-items: inherit;
  }
  .header-navbar {
    display: none;
  }

  /* HERO */

  .hero {
    background-color: #576f35;
  }
  .hero-content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .hero-content-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 18px 32px 50px;
    max-width: 1268px;
  }
  .hero-title {
    font-weight: 600;
    font-size: 76px;
    line-height: 100%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
  }
  .hero-paragraph {
    font-size: 14px;
    line-height: 125%;
    max-width: 603px;
  }
  .hero-bgimage {
    display: flex;
    justify-content: center;
    height: 539px;
    width: 100%;
    object-fit: cover;
  }

  /* MENU MODAL */

  .header-menu-background {
    display: none;
    align-items: center;
    justify-content: right;
    position: fixed;
    inset: 0;
    background-color: rgba(20, 20, 20, 0.4);
  }
  .header-menu-modal {
    position: absolute;
    left: auto;
    right: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--purple);
    width: 351px;
    height: 100%;
    padding: 40px;
  }
  .header-menu-modal-close-button {
    display: flex;
    justify-content: right;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .header-menu-modal-close {
    display: block;
    background-color: transparent;
    border: none;
  }
  .header-menu-modal-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .header-menu-modal-pages {
    display: flex;
    flex-direction: column;
    padding-top: 288px;
    gap: 8px;
  }
  .header-menu-modal-list {
    list-style-type: none;
  }
  .header-menu-modal-button {
    display: block;
    min-width: 115px;
    min-height: 42px;
    border: 1px solid rgba(251, 251, 251, 0.4);
    background-color: transparent;
    color: var(--beige);
    border-radius: 12px;
    transition: 0.25s;
  }
  .header-menu-modal-button:hover,
  .header-menu-modal-button:focus {
    background-color: var(--beige);
    color: var(--purple-hover);
  }
  .header-menu-shop-button {
    display: block;
    min-width: 155px;
    min-height: 50px;
    border: none;
    font-weight: 600;
    background-color: var(--beige);
    color: var(--purple);
    border-radius: 30px;
    transition: 0.25s;
  }
  .header-menu-shop-button:hover,
  .header-menu-shop-button:focus {
    color: rgba(122, 49, 69, 0.7);
  }
  .is-open {
    display: block;
  }

  /********Selçuk Bayram Aydın********/

  /********Musa Eren Tanrıöver********/

  /***********Tunahan Erdem**********/

  /**********Hasip Tektaş************/

  /**********Şebnem Shabb007*********/

  .container {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  footer {
    background-color: #7a3145;
    min-width: 375px;
    height: auto;
    padding: 40px 0px 40px;
  }
  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .logo-container {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }
  .logo-svg {
    fill: #ffffff;
  }
  .logo-tab-des {
    display: none;
  }
  .footer-p {
    font-family: "Inter Tight";
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(251, 251, 251, 1);
  }
  .footer-list-container {
    margin-top: 40px;
  }
  .footer-menu {
    color: rgba(251, 251, 251, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-menu:hover,
  .footer-menu:focus {
    color: #576f57;
  }
  .link-list {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }
  .link-items {
    font-family: "Inter Tight";
    font-size: 28px;
    font-weight: 600;
    letter-spacing: -0.015em;
    text-align: left;
  }
  .nav-list {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 14px;
  }
  .tel-add {
    max-width: 215px;
  }
  .tel-addul {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }
  .tel-addli {
    font-family: "Inter Tight";
    font-size: 14px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.015em;
    text-align: left;
  }
  .tel-address-link {
    max-width: 179px;
    color: rgba(251, 251, 251, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .tel-address-link:hover,
  .tel-address-link:focus {
    color: #576f57;
  }
  .priv-pol-container {
    margin-top: 80px;
  }
  .priv-pol-list {
    display: flex;
    justify-content: space-between;
  }
  .priv-pol {
    font-family: "Inter Tight";
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.015em;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
  .down-link {
    color: rgba(251, 251, 251, 0.5);
    font-size: 12px;
    font-weight: 500;
    line-height: 1.11; /* 111.111% */
    letter-spacing: -0.015em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .priv-pol-link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: rgba(251, 251, 251, 0.5);
  }
  .priv-pol-link:hover,
  .priv-pol-linkfocus {
    color: #576f57;
  }
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .set:hover,
  .set:focus {
    color: #fbfbfb;
  }

  footer {
    min-width: 768px;
    padding: 32px 0px 32px;
  }
  .logo-svg {
    display: none;
  }
  .logo-tab-des {
    display: inline;
  }
  .container {
    min-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .footer-wrap {
    display: flex;
    justify-content: space-between;
  }

  .footer-list-container {
    margin-top: 0px;
  }
  .first-container {
    max-width: 265px;
  }
  .logo-container {
    gap: 25px;
  }
  .footer-p {
    font-family: "Inter Tight";
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    text-align: left;
  }
  .link-list {
    display: flex;
    justify-content: space-between;
    gap: 25px;
  }
  .link-items {
    font-family: "Inter Tight";
    font-size: 32px;
    font-weight: 600;
    letter-spacing: -0.015em;
    text-align: left;
  }
  .tel-addli {
    font-family: "Inter Tight";
    font-size: 18px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.015em;
    text-align: left;
  }

  .tel-addul {
    gap: 25px;
    margin-top: 64px;
  }
  .down-link {
    font-size: 18px;
  }
  .priv-pol-container {
    margin-top: 100px;
  }
}

/**********Şebnem Kosker***********/

/*******************************|Desktop Design|******************************/
@media (min-width: 1280px) {
  /********Emrah Cagigan**************/

  /* HEADER */

  .container {
    width: 1280px;
    margin: 0 auto;
  }
  .header {
    position: relative;
  }
  .header-content {
    position: absolute;
    display: flex;
    width: 1080px;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0;
    margin: 0 100px;
  }
  .header-logo {
    gap: 8px;
  }
  .header-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .header-navbar-pages {
    display: flex;
    list-style-type: none;
    gap: 8px;
  }
  .header-navbar-pages-list {
    border: 1px solid rgba(251, 251, 251, 0.4);
    padding: 12px;
    border-radius: 12px;
    transition: 0.25s;
  }
  .header-navbar-pages-list:hover {
    background-color: var(--beige);
    color: var(--purple-hover);
  }
  .header-navbar-button {
    display: block;
    border: none;
    border-radius: 26px;
    padding: 16px 32px;
    background-color: var(--purple);
    color: var(--beige);
    font-weight: 600;
    font-size: 18px;
    line-height: 111%;
    letter-spacing: -0.01em;
    transition: 0.25s;
  }
  .header-navbar-button:hover {
    background-color: var(--purple-hover);
  }
  .header-menu {
    display: none;
  }

  /* ------------------------- HEADER > HERO ------------------------- */

  .hero {
    display: flex;
    justify-content: space-between;
    align-items: end;
    background-color: #576f35;
  }
  .hero-content {
    display: flex;
    gap: 28px;
    z-index: 1;
    padding-left: 100px;
  }
  .hero-content-left {
    display: flex;
    justify-content: end;
    flex-direction: column;
    gap: 128px;
    padding-bottom: 50px;
  }
  .hero-title {
    font-weight: 600;
    font-size: 76px;
    line-height: 100%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
  }
  .hero-paragraph {
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    max-width: 472px;
  }
  .hero-bgimage {
    min-width: 650px;
    height: 800px;
    object-fit: cover;
  }

  .header-menu-background {
    display: none;
  }

  /********Selçuk Bayram Aydın********/

  /********Musa Eren Tanrıöver********/

  /***********Tunahan Erdem**********/

  .reviews {
    display: block;
    margin: 0 auto;
    flex-direction: column;
    background-color: #fbfbfb;
  }
  .reviews .content_box {
    position: relative;
    margin: 100px;
    width: 1079px;
    height: 501px;
    min-height: 501px;
  }
  .reviews .hero-title_box {
    position: absolute;
    inset: 0 526px 373px 0;
    display: flex;
    align-items: center;
    width: 553px;
    height: 128px;
  }
  .reviews .hero-title {
    font: 600 64px/1 "Inter Tight", Helvetica, Arial, serif;
    color: #141414;
    letter-spacing: -0.96px;
  }
  .reviews .hero-title_span0 {
    font: 600 1em/1 "Inter Tight", Helvetica, Arial, serif;
  }
  .reviews .hero-title_span1 {
    font: 600 1em/1 "Inter Tight", Helvetica, Arial, serif;
    color: #576f35;
  }
  .reviews .customer-experience-description {
    position: absolute;
    inset: 153px 526px 308px 0;
    display: flex;
    align-items: center;
    width: 553px;
    height: 40px;
    font: 500 16px/1.25 "Inter Tight", Helvetica, Arial, serif;
    color: #141414;
  }
  .reviews .rect {
    position: absolute;
    inset: 243px 736px 0 0;
    width: 343px;
    height: 258px;
    background-color: #fbfbfb;
    border-radius: 24px;
    outline: 1px solid rgba(122, 49, 69, 0.298);
    outline-offset: -1px;
  }
  .reviews .customer-image {
    position: absolute;
    inset: 263px 879px 182px 144px;
    width: 56px;
    height: 56px;
    border-radius: 28px;
  }
  .reviews .customer-name-john-wax {
    position: absolute;
    inset: 343px 868.5px 138px 133.5px;
    display: flex;
    justify-content: center;
    width: 77px;
    height: 20px;
    font: 600 18px/1.1 "Inter Tight", Helvetica, Arial, serif;
    color: #141414;
    text-align: center;
    letter-spacing: -0.36px;
  }
  .reviews .customer-review-john-wax {
    position: absolute;
    inset: 371px 763px 18px 28px;
    display: flex;
    justify-content: center;
    width: 288px;
    height: 112px;
    font: 500 16px/1.39 "Inter Tight", Helvetica, Arial, serif;
    color: rgba(20, 20, 20, 0.4);
    text-align: center;
  }
  .reviews .rect1 {
    position: absolute;
    inset: 243px 368px 0;
    width: 343px;
    height: 258px;
    background-color: #fbfbfb;
    border-radius: 24px;
    outline: 1px solid rgba(122, 49, 69, 0.298);
    outline-offset: -1px;
  }
  .reviews .customer-image-victoria-romashenko {
    position: absolute;
    inset: 263px 511px 182px 512px;
    width: 56px;
    height: 56px;
    border-radius: 28px;
  }
  .reviews .customer-name-victoria-romashenko {
    position: absolute;
    inset: 343px 456px 138px 457px;
    display: flex;
    justify-content: center;
    width: 166px;
    height: 20px;
    font: 600 18px/1.1 "Inter Tight", Helvetica, Arial, serif;
    color: #141414;
    text-align: center;
    letter-spacing: -0.36px;
  }
  .reviews .customer-review-victoria-romashenko {
    position: absolute;
    inset: 371px 395px 40px 396px;
    display: flex;
    justify-content: center;
    width: 288px;
    height: 90px;
    font: 500 16px/1.39 "Inter Tight", Helvetica, Arial, serif;
    color: rgba(20, 20, 20, 0.4);
    text-align: center;
  }
  .reviews .rect2 {
    position: absolute;
    inset: 243px 0 0 736px;
    width: 343px;
    height: 258px;
    background-color: #fbfbfb;
    border-radius: 24px;
    outline: 1px solid rgba(122, 49, 69, 0.298);
    outline-offset: -1px;
  }
  .reviews .customer-image-ihor-trachuk {
    position: absolute;
    inset: 263px 143px 182px 880px;
    width: 56px;
    height: 56px;
    border-radius: 28px;
  }
  .reviews .customer-name-ihor-trachuk {
    position: absolute;
    top: 343px;
    right: 122px;
    display: flex;
    justify-content: center;
    width: 98px;
    height: 20px;
    font: 600 18px/1.1 "Inter Tight", Helvetica, Arial, serif;
    color: #141414;
    text-align: center;
    letter-spacing: -0.36px;
  }
  .reviews .customer-review-ihor-trachuk {
    position: absolute;
    right: 27px;
    bottom: 18px;
    display: flex;
    justify-content: center;
    width: 288px;
    height: 112px;
    font: 500 16px/1.39 "Inter Tight", Helvetica, Arial, serif;
    color: rgba(20, 20, 20, 0.4);
    text-align: center;
  }

  /**********Hasip Tektaş************/

  /**********Şebnem Shabb007*********/

  .container {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  footer {
    background-color: #7a3145;
    min-width: 375px;
    height: auto;
    padding: 40px 0px 40px;
  }
  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .logo-container {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }
  .logo-svg {
    fill: #ffffff;
  }
  .logo-tab-des {
    display: none;
  }
  .footer-p {
    font-family: "Inter Tight";
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(251, 251, 251, 1);
  }
  .footer-list-container {
    margin-top: 40px;
  }
  .footer-menu {
    color: rgba(251, 251, 251, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-menu:hover,
  .footer-menu:focus {
    color: #576f57;
  }
  .link-list {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }
  .link-items {
    font-family: "Inter Tight";
    font-size: 28px;
    font-weight: 600;
    letter-spacing: -0.015em;
    text-align: left;
  }
  .nav-list {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 14px;
  }
  .tel-add {
    max-width: 215px;
  }
  .tel-addul {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }
  .tel-addli {
    font-family: "Inter Tight";
    font-size: 14px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.015em;
    text-align: left;
  }
  .tel-address-link {
    max-width: 179px;
    color: rgba(251, 251, 251, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .tel-address-link:hover,
  .tel-address-link:focus {
    color: #576f57;
  }
  .priv-pol-container {
    margin-top: 80px;
  }
  .priv-pol-list {
    display: flex;
    justify-content: space-between;
  }
  .priv-pol {
    font-family: "Inter Tight";
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.015em;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
  .down-link {
    color: rgba(251, 251, 251, 0.5);
    font-size: 12px;
    font-weight: 500;
    line-height: 1.11; /* 111.111% */
    letter-spacing: -0.015em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .priv-pol-link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: rgba(251, 251, 251, 0.5);
  }
  .priv-pol-link:hover,
  .priv-pol-linkfocus {
    color: #576f57;
  }
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .set:hover,
  .set:focus {
    color: #fbfbfb;
  }

  footer {
    min-width: 768px;
    padding: 32px 0px 32px;
  }
  .logo-svg {
    display: none;
  }
  .logo-tab-des {
    display: inline;
  }
  .container {
    min-width: 768px;
    padding-left: 100px;
    padding-right: 100px;
  }

  .footer-wrap {
    display: flex;
    justify-content: space-between;
  }

  .footer-list-container {
    margin-top: 0px;
  }
  .first-container {
    max-width: 265px;
  }
  .logo-container {
    gap: 25px;
  }
  .footer-p {
    font-family: "Inter Tight";
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    text-align: left;
  }
  .link-list {
    display: flex;
    justify-content: space-between;
    gap: 25px;
  }
  .link-items {
    font-family: "Inter Tight";
    font-size: 32px;
    font-weight: 600;
    letter-spacing: -0.015em;
    text-align: left;
  }
  .tel-addli {
    font-family: "Inter Tight";
    font-size: 18px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.015em;
    text-align: left;
  }

  .tel-addul {
    gap: 25px;
    margin-top: 64px;
  }
  .down-link {
    font-size: 18px;
  }
  .priv-pol-container {
    margin-top: 100px;
  }

  /**********Şebnem Kosker***********/
}
